 .logo {
    height: 60px;
    width: 60px;
    margin: 2px;
    float: left;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  .header {
    padding-left: 20px;
    padding-right: 0px;
  }

  .title {
    padding-left: 10px;
    color: palevioletred;
    font-weight: bolder;
    font-size: x-large;
    float: left;
  }



  .layout{
    background: #fff;
  }

  .cardWrapper{
    padding: 30px;
    display: flex;
  }

  .login{
    float: right;
    margin-right: 30px;
  }

  .login-but{
    margin-right: 20px;
  }


  .avatar{
    height: 40px;
    width: 40px;
    border-radius:50%;
    border: 1px solid gray;
    margin-right: 15px;
  }

  .login-form-button{
    width: 100%;
  }
  .login-form-forgot {
    float: right;
  }
